:root {
  --green-900: #27ae60;
  --green-700: #0ccc2b;
  --green-300: #5fd08f;
  --green-100: #f4ffee;
  --neon-700: #745dee;
  --neon-500: #8978e2;
  --orange-700: #ee6f14;
  --orange-500: #fb842a;
  --orange-400: #ffa551;
  --orange-300: #ffb978;
  --orange-150: #ffe0bb;
  --orange-yellow: #f9a72e;
  --yellow-600: #ffda30;
  --yellow-400: #ffe469;
  --yellow-300: #ffeb91;
  --neutral-900: #1a1a1c;
  --neutral-800: #333235;
  --neutral-700: #505055;
  --neutral-600: #737379;
  --neutral-500: #88898e;
  --neutral-400: #acaeb6;
  --neutral-300: #cccdd4;
  --neutral-250: #dadadf;
  --neutral-200: #efeef0;
  --neutral-150: #f3f3f6;
  --neutral-100: #f9f9fa;
  --neutral-white: #ffffff;
  --blue: #539ef4;
  --red: #ee3b14;
}
