extends ./common/wrapper
include ./modules/breadcrumbs
include ./modules/billboard
include ./modules/sections
include ./modules/benefits
include ./modules/info
include ./modules/steps

block config
  -
    let breadcrumbs = [
      'Главная',
      'Сервисный центр',
    ];

  -
    let billboard = {
      title: 'Сервисный центр <span>в Нижнем Новгороде</span>',
      text: 'Для определения точной цены на ремонт заполните поле, наши консультанты свяжутся с вами',
      list: [
        'Быстро',
        'Качественно',
        'С гарантией',
      ],
      person: {
        path: 'images/billboard/1.png',
        sizes: {
          xxl: [597, 520],
          xl: [520, 453],
          lg: [480, 418],
          md: [450, 392],
          sm: [410, 357],
          xs: [485, 422],
        },
      },
    };

  -
    let sections = [
      {
        picture: {
          path: 'images/sections/1.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт электроинструмента',
      },
      {
        picture: {
          path: 'images/sections/3.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт бензоинструмента',
      },
      {
        picture: {
          path: 'images/sections/5.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт крупной бытовой техники',
      },
      {
        picture: {
          path: 'images/sections/2.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт тэнов',
      },
      {
        picture: {
          path: 'images/sections/4.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт промышленной техники',
      },
      {
        picture: {
          path: 'images/sections/6.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт мелкой бытовой техники',
      },
      {
        picture: {
          path: 'images/sections/3.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт бензоинструмента',
      },
      {
        picture: {
          path: 'images/sections/5.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт крупной бытовой техники',
      },
      {
        picture: {
          path: 'images/sections/1.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт электроинструмента',
      },
      {
        picture: {
          path: 'images/sections/4.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт промышленной техники',
      },
      {
        picture: {
          path: 'images/sections/6.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт мелкой бытовой техники',
      },
      {
        picture: {
          path: 'images/sections/2.png',
          sizes: {
            xs: [56, 56],
          },
        },
        name: 'Ремонт тэнов',
      },
    ];

  -
    let benefits = {
      title: 'Наши преимущества',
      list: [
        {
          icon: 'b-star',
          title: 'Заключение эксперта',
          text: 'Выдаём акт о поломках и ремонте',
          color: 'orange',
        },
        {
          icon: 'b-spare',
          title: 'Склад запчастей',
          text: 'Запчасти в наличии на нашем складе',
          color: 'purple',
        },
        {
          icon: 'b-guarantee',
          title: 'Проверенные детали',
          text: 'Оригинальные или надежные аналоги',
          color: 'green',
        },
        {
          icon: 'b-currency',
          title: 'Доступные цены',
          text: 'Вы платите только за реальный результат',
          color: 'blue',
        },
        {
          icon: 'b-cup',
          title: 'Опыт больше 20 лет',
          text: 'Ремонт проводят только опытные мастера',
          color: 'orange',
        },
        {
          icon: 'b-time',
          title: 'Срочный ремонт',
          text: 'Если техника нужна как можно быстрее',
          color: 'purple',
        },
      ],
    };

  -
    let infoOne = {
      title: 'Заголовок',
      text: '<p>Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. С другой стороны реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.</p><p>Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс внедрения и модернизации модели развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития.</p>',
      picture: {
        path: 'images/info/1.jpg',
        sizes: {
          xxl: [536, 322],
          xl: [536, 322],
          lg: [930, 374],
          md: [690, 277],
          sm: [510, 205],
          xs: [545, 330],
        },
      },
    };

  -
    let infoTwo = {
      title: 'Заголовок',
      text: '<p>Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. С другой стороны реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.</p><p>Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс внедрения и модернизации модели развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития.</p>',
      picture: {
        path: 'images/info/2.jpg',
        sizes: {
          xxl: [536, 322],
          xl: [536, 322],
          lg: [930, 374],
          md: [690, 277],
          sm: [510, 205],
          xs: [545, 330],
        },
      },
    };

  -
    let steps = {
      title: 'Как мы работаем?',
      points: [
        {
          icon: {
            color: 'orange',
            name: 'property-1',
          },
          text: 'Вы оставляете заявку на ремонт',
        },
        {
          icon: {
            color: 'purple',
            name: 'property-2',
          },
          text: 'С вами связывется менеджер',
        },
        {
          icon: {
            color: 'green',
            name: 'property-3',
          },
          text: 'Мастер приезжает и проводит диагностику',
        },
        {
          icon: {
            color: 'blue',
            name: 'property-4',
          },
          text: 'Мастер чинит поломку и дает гарантию',
        },
      ],
    };

block content
  +breadcrumbs(breadcrumbs)
  +billboard(billboard)
  +sections(sections)
  +benefits(benefits)
  +info(infoOne)._reverse

  +steps(steps)
  +info(infoTwo)
