.logo {
  $root: &;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  &__content {
    display: block;
    flex: none;
    #{$root}._dark-theme & {
      color: var(--neutral-900);
      @include hover {
        color: var(--neutral-900);
      }
    }
    #{$root}._white-theme & {
      color: var(--neutral-100);
      @include hover {
        color: var(--neutral-100);
      }
    }
  }
  &__content,
  &__img {
    width: 100%;
    height: 100%;
  }
}
