.menu {
  $root: &;

  &__head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.6rem 0.8rem;
    cursor: pointer;
    user-select: none;
    @include up(md) {
      padding: 0;
      cursor: auto;
      user-select: auto;
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 3.2rem;
      flex: none;
      @include transition(transform);
      @include up(md) {
        display: none;
      }
      #{$root}._light & {
        color: var(--neutral-white);
      }
      #{$root}._dark & {
        color: var(--neutral-900);
      }
      #{$root}._active & {
        transform: scale(1, -1);
      }
    }
  }
  &__title {
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    #{$root}._light & {
      color: var(--neutral-white);
    }
    #{$root}._dark & {
      color: var(--neutral-900);
    }
  }
  &__list {
    margin: 0;
    padding: 0 0.8rem 1.6rem;
    display: none;
    @include up(md) {
      padding: 0;
      display: block !important;
    }
  }
  &__head + &__list {
    @include up(md) {
      margin-top: 1.6rem;
    }
  }
  &__item {
    & + & {
      margin-top: 1.6rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 142.857%;
    @include transition(color);
    #{$root}._light & {
      color: var(--neutral-300);
      @include hover {
        color: var(--neutral-white);
      }
    }
    #{$root}._dark & {
      color: var(--neutral-700);
      @include hover {
        color: var(--orange-700);
      }
    }
  }
  &__icon {
    flex: none;
    width: 1.6rem;
    margin-right: 0.8rem;
    height: 1.6rem;
    position: relative;
    svg {
      @include img-centering;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__label {
    flex: 1 1 auto;
    width: 100%;
  }
}
